<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
    <Product Id="*" Name="VuGen Add-in Manager" Language="1033" Version="!(bind.FileVersion.MainAssemblyFile)"
            Manufacturer="MyLoadTest" UpgradeCode="da80d591-8c16-48ef-a43d-e227d83e7910">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated"
                Description="[ProductName] [ProductVersion]" />

        <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" AllowDowngrades="no"
                AllowSameVersionUpgrades="no" Schedule="afterInstallInitialize" />

        <MediaTemplate CompressionLevel="high" EmbedCab="yes" />

        <CustomAction Id="SetBriefProductName" Property="BriefProductName" Value="[ProductName]" />
        <CustomAction Id="SetFullProductName" Property="FullProductName" Value="[ProductName] [ProductVersion]" />
        <SetProperty Id="ProductName" Value="[FullProductName]" After="SetFullProductName" Sequence="both" />

        <!--<Property Id="ARPNOMODIFY" Value="1" />-->
        <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />

        <Property Id="TARGETDIR">
            <RegistrySearch Id="SearchVuGenDirectory"
                    Root="HKLM"
                    Key="SOFTWARE\Mercury Interactive\LoadRunner\CurrentVersion"
                    Name="Vuser Generator"
                    Type="directory"
                    Win64="no" />
        </Property>

        <Condition Message="!(loc.VuGenNotInstalled)">
            <![CDATA[REMOVE OR TARGETDIR]]>
        </Condition>

        <PropertyRef Id="NETFRAMEWORK45" />

        <!-- NetFx release numbers: https://msdn.microsoft.com/en-us/library/hh925568(v=vs.110).aspx -->
        <Condition Message="!(loc.NetFxNotInstalled)">
            <![CDATA[Installed OR (NETFRAMEWORK45 AND (NETFRAMEWORK45 >= "#378675"))]]>
        </Condition>

        <!--
        [ Available as of Wix 3.10+ which is not yet released ]

        <PropertyRef Id="WIX_IS_NETFRAMEWORK_451_OR_LATER_INSTALLED" />
        <Condition Message="!(loc.NetFxNotInstalled)">
            <![CDATA[Installed OR (WIX_IS_NETFRAMEWORK_451_OR_LATER_INSTALLED = 1)]]>
        </Condition>
        -->

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="VuGenAddins" Name="Addins">
                <Directory Id="MyLoadTest" Name="MyLoadTest">
                    <Directory Id="INSTALLLOCATION" Name="$(var.MyLoadTest.VuGenAddInManager.ProjectName)">
                        <Component Id="ProductComponent" Guid="ffa71c62-fccd-4608-9e2b-ba55054f0b59">
                            <File Id="MainAssemblyFile"
                                    Source="$(var.MyLoadTest.VuGenAddInManager.TargetPath)"
                                    Checksum="yes"
                                    Vital="yes" />
                            <File
                                    Source="$(var.MyLoadTest.VuGenAddInManager.TargetDir)\$(var.MyLoadTest.VuGenAddInManager.TargetName).addin"
                                    Checksum="yes"
                                    Vital="yes" />
                            <File Source="$(var.MyLoadTest.VuGenAddInManager.TargetDir)\NuGet.Core.dll"
                                    Checksum="yes"
                                    Vital="yes" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="ProductFeature" Title="MyLoadTest.VuGenAddInManager.Setup" Level="1">
            <ComponentRef Id="ProductComponent" />

            <!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
            <!--<ComponentGroupRef Id="Product.Generated" />-->
        </Feature>

        <Property Id="LicenseAccepted" Value="1" />
        <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />

        <UI>
            <UIRef Id="WixUI_InstallDir" />

            <!-- Skip EULA dialog -->
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="Overriden_InstallDirDlg" Order="2">1</Publish>
            <Publish Dialog="Overriden_InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
        </UI>

        <InstallExecuteSequence>
            <Custom Action="SetBriefProductName" After="CostInitialize" />
            <Custom Action="SetFullProductName" After="SetBriefProductName" />
        </InstallExecuteSequence>

        <InstallUISequence>
            <Custom Action="SetBriefProductName" After="CostInitialize" />
            <Custom Action="SetFullProductName" After="SetBriefProductName" />
        </InstallUISequence>
    </Product>

    <Fragment>
        <UI>
            <Dialog Id="Overriden_InstallDirDlg" Width="370" Height="270" Title="!(loc.InstallDirDlg_Title)">
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes"
                        Text="!(loc.WixUINext)" />
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes"
                        Text="!(loc.WixUICancel)">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>

                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes"
                        NoPrefix="yes" Text="!(loc.InstallDirDlgDescription)" />
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes"
                        Text="!(loc.InstallDirDlgTitle)" />
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no"
                        Text="!(loc.InstallDirDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

                <Control Id="FolderLabel" Type="Text" X="20" Y="60" Width="290" Height="30" NoPrefix="yes"
                        Text="!(loc.InstallDirDlgFolderLabel)" />
                <Control Id="Folder" Type="PathEdit" X="20" Y="100" Width="320" Height="18" Property="WIXUI_INSTALLDIR"
                        Indirect="yes" Disabled="yes" />
                <Control Id="ChangeFolder" Type="PushButton" X="20" Y="120" Width="56" Height="17"
                        Text="!(loc.InstallDirDlgChange)" Hidden="yes" />
            </Dialog>

            <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="Overriden_InstallDirDlg">LicenseAccepted = "1"</Publish>

            <Publish Dialog="Overriden_InstallDirDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
            <Publish Dialog="Overriden_InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]"
                    Order="1">
                1
            </Publish>
            <Publish Dialog="Overriden_InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath"
                    Order="2">
                NOT WIXUI_DONTVALIDATEPATH
            </Publish>
            <Publish Dialog="Overriden_InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg"
                    Order="3"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
            <Publish Dialog="Overriden_InstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
            <Publish Dialog="Overriden_InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty"
                    Value="[WIXUI_INSTALLDIR]" Order="1">
                1
            </Publish>
            <Publish Dialog="Overriden_InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg"
                    Order="2">
                1
            </Publish>

            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="Overriden_InstallDirDlg" Order="1">NOT Installed</Publish>
        </UI>
    </Fragment>
</Wix>